# Default ignored files
/shelf/
/workspace.xml
/tasks.xml

#User-specific:
/dictionaries
/vcs.xml
/jsLibraryMappings.xml

/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/gradle.xml
/libraries

*.iws
../out/

# Datasource local storage ignored files
/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
